{% include 'header.html' %}

<!--begin::App Main-->
<main class="app-main" style="display: flex;">
    <div class="app-content-header">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Row Header-->
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="mb-3">ADD USERS</h3>
                </div>
            </div>
            <!--end::Row Header-->
            <div class="row">
                <!-- Form Kiri -->
                <form action="{{ url_for('klaim.saveadduser') }}" method="POST">
                    <div class="row">

                        <!-- Kolom Kiri -->
                        <div class="col-md-6">
                            <div class="card card-primary card-outline mb-4">
                                <div class="card-body">
                                    <div class="mb-2">
                                        <label for="user_id" class="mb-0 form-label">User ID (Auto Generate)</label>
                                        <input type="text" class="form-control" id="user_id" name="user_id"
                                            value="{{ next_user_id }}" readonly />
                                    </div>
                                    <div class="mb-2">
                                        <label for="username" class="mb-0 form-label">Username</label>
                                        <input type="text" class="form-control" id="username" name="username"
                                            placeholder="Username" minlength="4" required />
                                    </div>
                                    <div class="mb-2">
                                        <label for="password" class="mb-0 form-label">Password</label>
                                        <input type="password" class="form-control" id="password" name="password"
                                            placeholder="Password" minlength="6" required />
                                    </div>
                                    <div class="mb-2">
                                        <label for="role" class="mb-0 form-label">Role</label>
                                        <select class="form-control" id="role" name="role" required>
                                            <option value="" disabled selected>-- Select Role --</option>
                                            <option value="Admin">Admin</option>
                                            <option value="User">User</option>
                                        </select>
                                    </div>

                                    <!-- btn submit -->
                                    <div class="row">
                                        <div class="">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- upload -->
                    <!-- <label for="">Upload proof of transaction</label>
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" id="fileRight" required/>
                                    <label class="input-group-text" for="fileRight">Upload</label>
                                </div> -->
                    <!-- button -->
                </form>
</main>
{% include 'footer.html' %}