{% include 'header.html' %}

<!--begin::App Main-->
<main class="app-main" style="display: flex; justify-content: center; align-items: center;">

    <div>
        <p>
            Informasi lebih lanjut
            Apabila memerlukan informasi lebih lengkap dari PT Abadi Tambah Mulia Internasional, jangan ragu untuk
            menghubungi kami.
        </p>
        <p>
            Address: Bellezza Office Tower, GP Tower Lantai 16, Unit 1 & 2, Jl. Arteri Permata Hijau, RT.4/RW.2, Grogol
            Utara, Kebayoran Lama, Jakarta Selatan 12210
        </p>
        <p>
            Telp: 021-3952-4373
            Whatsapp: 0813-1104-5617 (Chat Only)
        </p>
    </div>

</main>
<!--end::App Main-->


{% include 'footer.html' %}